name: PHP Code Style

on: pull_request

jobs:
  PHP-Code-Sniffer:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: PHP Code Style (phpcs)
        uses: chindit/actions-phpcs@1.0.1

  PHP-CS-Fixer:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install PHP with extensions
        uses: shivammathur/setup-php@master
        with:
          php-version: "8.4"
          coverage: none
          extensions: "json, mbstring, mongodb, pdo"

      - name: Install PHP CS Fixer
        run: COMPOSER=.github/workflows/composer.php-cs-fixer.json composer install --no-interaction --no-progress

      - name: Run PHP CS Fixer
        run: vendor/bin/php-cs-fixer fix --dry-run --config=./php-cs-fixer.php -v --using-cache=no --diff --ansi
